<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Create a New Account</h3>
                </div>
                <div class="panel-body">
                    <form name="form" ng-submit="ctrl.registerSubmit()">
                        <div class="form-group" ng-class="{'has-error': form.forename.$dirty && form.forename.$error.required}">
                            <label for="forename-input" class="control-label">Forename <span class="text-danger">*</span></label>
                            <input type="text" id="forename-input" class="form-control" name="forename" autocomplete="off" ng-disabled="isLoading" ng-model="ctrl.user.forename" required />
                            <span ng-show="form.forename.$dirty && form.forename.$error.required" class="help-block">Forename is required!</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': form.surname.$dirty && form.surname.$error.required}">
                            <label for="surname-input" class="control-label">Surname <span class="text-danger">*</span></label>
                            <input type="text" id="surname-input" class="form-control" name="surname" autocomplete="off" ng-disabled="isLoading" ng-model="ctrl.user.surname" required />
                            <span ng-show="form.surname.$dirty && form.surname.$error.required" class="help-block">Surname is required!</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': form.email.$dirty && form.email.$error.required}">
                            <label for="email-input" class="control-label">Email <span class="text-danger">*</span></label>
                            <input type="text" id="email-input" class="form-control" name="email" autocomplete="off" ng-disabled="isLoading" ng-model="ctrl.user.email" required />
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required!</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$error.required}">
                            <label for="password-input" class="control-label">Password <span class="text-danger">*</span></label>
                            <input type="password" id="password-input" class="form-control" name="password" autocomplete="off" ng-disabled="isLoading" ng-model="ctrl.user.password" required />
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required!</span>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || ctrl.isLoading">Register</button>
                        <a href="/login" class="btn btn-link" ng-hide="ctrl.isLoading">Cancel</a>
                        <i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="ctrl.isLoading"></i>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>